section.about 
    .container 
        +blockBox("What we do","Story about us","Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus praesentium quaerat magnam pariatur deleniti perspiciatis atque. Quo, hic, optio facilis perferendis suscipit eum possimus nihil mollitia provident, voluptatum sapiente nostrum!")
        .about-list
            +aboutItem("../images/img-about1.png","Super Team","fa fa-users") 
            +aboutItem("../images/img-about2.png","Super Team","fa fa-users") 
            +aboutItem("../images/img-about3.png","Super Team","fa fa-users") 
            