footer.footer 
    .container 
        .footer-top
            .footer-column
                a(href="#").footer-heading.footer-heading--logo MoGo 
                p.footer-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quisquam qui voluptatem asperiores, ratione soluta? Dolorem, optio rerum velit suscipit totam commodi ratione in reprehenderit earum tenetur maiores omnis ad.
                p.footer-follower <strong>15k</strong> followers 
                .footer-social 
                    span Follow Us: 
                    .footer-social-list 
                        a(href="#").footer-social-icon
                            i.fab.fa-facebook
                        a(href="#").footer-social-icon
                            i.fab.fa-twitter
                        a(href="#").footer-social-icon
                            i.fab.fa-instagram
                        a(href="#").footer-social-icon
                            i.fab.fa-pinterest
                        a(href="#").footer-social-icon
                            i.fab.fa-youtube
                form(action="#").footer-form 
                    input(type="email" placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column
                h3.footer-heading Blogs 
                a(href="#").footer-blog 
                    img.footer-blog-image(src="./images/img-blogs1.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016
                a(href="#").footer-blog 
                    img.footer-blog-image(src="./images/img-blogs2.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016
                a(href="#").footer-blog 
                    img.footer-blog-image(src="./images/img-blogs3.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016    
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")       
        .footer-bottom &copy; 2016 MoGo free PSD template by <span> Laaqiq </span>