section.number 
    .container 
        .number-list 
            .number-item 
                h4.number-item-count 97
                span.number-item-text Web desgin 
            .number-item 
                h4.number-item-count 97
                span.number-item-text Web desgin 
            .number-item 
                h4.number-item-count 97
                span.number-item-text Web desgin
            .number-item 
                h4.number-item-count 97
                span.number-item-text Web desgin 
            .number-item 
                h4.number-item-count 97
                span.number-item-text Web desgin 
