section.people 
    .container 
        +blockBox("Happy Clients","What people say")
        ul.people-list 
            +peopleItem("./images/img-people1.png","Matthew Dix","Graphic Design")
            +peopleItem("./images/img-people2.png","Matthew Dix","Graphic Design")
            +peopleItem("./images/img-people3.png","Matthew Dix","Graphic Design")
            +peopleItem("./images/img-people4.png","Matthew Dix","Graphic Design")