section.quote 
    .container 
        .quote-container 
            //- i.fa.fa-angle-left.quote-arrow-left.quote-arrow 
            .quote-content 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus quam, ut odit provident assumenda eveniet ratione nihil expedita? Ullam dolore aspernatur numquam qui odit ducimus error, hic aliquam expedita!
                    span.quote-author Jon Doe 
            //- i.fa.fa-angle-left.quote-arrow-right.quote-arrow
            .quote-content 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus quam, ut odit provident assumenda eveniet ratione nihil expedita? Ullam dolore aspernatur numquam qui odit ducimus error, hic aliquam expedita!
                    span.quote-author Jon Doe
            .quote-content 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus quam, ut odit provident assumenda eveniet ratione nihil expedita? Ullam dolore aspernatur numquam qui odit ducimus error, hic aliquam expedita!
                    span.quote-author Jon Doe