section.service 
    .container 
        +blockBox("We work with","Amazing services")
        .service-container
            .service-list 
                +serviceItem("../images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem officiis nisi porro tempora dolor nobis adipisci! ")
                +serviceItem("../images/img-service-icon2.png","Web design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem officiis nisi porro tempora dolor nobis adipisci! ")
                +serviceItem("../images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem officiis nisi porro tempora dolor nobis adipisci! ")
            .service-list 
                +serviceItem("../images/img-service-icon4.png","Seo","Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem officiis nisi porro tempora dolor nobis adipisci! ")
                +serviceItem("../images/img-service-icon5.png","Css/HTML","Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem officiis nisi porro tempora dolor nobis adipisci! ")
                +serviceItem("../images/img-service-icon6.png","Digital","Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem officiis nisi porro tempora dolor nobis adipisci! ")
                