section.story 
    .container 
        +blockBox("Our Stories","Latest blog")
        ul.story-list 
            +storyItem("./images/img-blog1.png","15","Jan","542","17")
            +storyItem("./images/img-blog2.png","14","Jan","992","42")
            +storyItem("./images/img-blog3.png","12","Jan","1560","43")
section.map 
    .container 
        .map-content 
            img(src="./images/img-map-icon.png", alt="").map-img
            h2.map-heading Open map