section.team
    .container 
        +blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quae explicabo debitis dolorum odio soluta praesentium labore? Esse ut magnam animi illo, sunt adipisci voluptatum voluptas accusantium officia, doloribus quidem?")
        .team-list 
            .team-item 
                .team-main 
                    img(src="./images/img-team1.png").team-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info 
                    h3.team-name Matthew Dix 
                    span.team-position Graphic Design
            .team-item 
                .team-main 
                    img(src="./images/img-team2.png").team-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info 
                    h3.team-name Matthew Dix 
                    span.team-position Graphic Design
            .team-item 
                .team-main 
                    img(src="./images/img-team3.png").team-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info 
                    h3.team-name Matthew Dix 
                    span.team-position Graphic Design
section.brand 
    .container 
        img(src="./images/img-logos.png", alt="")