section.wedo 
    .container 
        +blockBox("Service","What we do","Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, perspiciatis itaque impedit doloremque adipisci mollitia ex soluta fugiat odit at eligendi accusamus quaerat nisi dolorem inventore iure odio dolorum architecto.")
        .wedo-container 
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content
                +wedoItem("../images/img-wedo-icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nisi explicabo. Eveniet assumenda quae ducimus deserunt nesciunt debitis, quisquam quasi earum perferendis hic libero asperiores quia molestiae dolores impedit ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio at saepe qui iste libero ab dolorem facilis aut. Officia ipsam culpa nam voluptas fugit nulla eum iste dolore harum exercitationem.", "is-active") 
                +wedoItem("../images/img-wedo-icon2.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nisi explicabo. Eveniet assumenda quae ducimus deserunt nesciunt debitis, quisquam quasi earum perferendis hic libero asperiores quia molestiae dolores impedit ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio at saepe qui iste libero ab dolorem facilis aut. Officia ipsam culpa nam voluptas fugit nulla eum iste dolore harum exercitationem.") 
                +wedoItem("../images/img-wedo-icon3.png", "Web Design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nisi explicabo. Eveniet assumenda quae ducimus deserunt nesciunt debitis, quisquam quasi earum perferendis hic libero asperiores quia molestiae dolores impedit ab?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio at saepe qui iste libero ab dolorem facilis aut. Officia ipsam culpa nam voluptas fugit nulla eum iste dolore harum exercitationem.") 
                