section.work 
    .container 
        +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum corrupti dolores fugiat, ea atque quam explicabo est, maiores minima eveniet quia nobis illum vitae autem voluptate impedit aperiam. Inventore, blanditiis!")
    .work-list 
        .work-column 
            .work-item 
                img.work-image(src="./images/img-work1.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
            .work-item 
                img.work-image(src="./images/img-work2.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
        .work-column 
            .work-item 
                img.work-image(src="./images/img-work3.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
            .work-item 
                img.work-image(src="./images/img-work4.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
        .work-column
            .work-item.work-item--full 
                img.work-image(src="./images/img-work5.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
        .work-column 
            .work-item 
                img.work-image(src="./images/img-work6.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
            .work-item 
                img.work-image(src="./images/img-work7.png")
                .work-content 
                    i.fa.fa-home.work-icon 
                    h3.work-title Creatively designed 
                    span.work-desc Lorem ipsum dolor sit
                
        