.about{
    padding-top: 9.3rem;
    padding-bottom: 11rem;
    background-color: white;
    //Flexbox
    // &-list{
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-left: -3rem;
    // }
    // &-item{
    //     margin-left: 3rem;
    //     width: calc(33.33% - 3rem);
    // }
    //Grid
    &-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3rem;
    }
    &-item{
        position: relative;
        z-index: 1;
        transition: transform 0.25s linear;

        &:after{
            content: "";
            @include absoluteFull();
            @include bg($thir-color);
            z-index: -1;
            transition: transform 0.25s linear;
        }

        &:hover{
            transform: translate(-1rem,-1rem);
            .about-content{
                opacity: 1;
                visibility: visible;
            }
            &::after{
                transform: translate(1rem,1rem);
            }
        }
    }
    
    &-content{
        @include absoluteFull();
        opacity: 0;
        visibility: hidden;
        background: linear-gradient(
            to bottom,
            rgba($primary-color,0.8),
            rgba($secondary-color,0.8)
        );
        transition: all 0.4s linear;
        z-index: 2;
        @include flexbox(center,center,column);
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
    }
    &-icon{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    &-title{
        font-weight: bolder;
        font-size: 1.8rem;
        line-height: 1.4rem;
        @include textClamp(1);
    
    }
    @include maxwidth(767px){
    //   flexbox
        // &-item {
        //     width: 100%;
        //     margin-bottom: 2.5rem;
        // }
        // grid 
        &-list{
            grid-template-columns: unset;
            grid-row-gap: 2.5rem;

            grid-auto-columns: 80%;
            grid-auto-flow: column;
            overflow-x: auto;
            scroll-snap-type: mandatory;
            scroll-snap-stop: always;
            @include hideScroll;
        }
        &-item{
            scroll-snap-align: start;
        }
    }
}