.quote{
    padding: 6.5rem 0;
    @include bg($gray-color);

    &-arrow{
        color: $darkgray-color;
        cursor: pointer;
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    &-content{
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        @include flexbox(center);
        outline: none;
    }
    &-icon{
        @include size(15rem);
        @include flexbox(center,center);
        border: 3px solid $thir-color;
        flex-shrink: 0;
    }
    &-info{
        padding-left: 6rem;
    }
    &-desc{
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.6;
        font-family: $secondary-font;
        margin-bottom: 2.5rem;
        font-style: italic;
        @include textClamp(3);
    }
    &-author{
        font-family: $third-font;
        font-size: 2.4rem;
        position: relative;
        padding-left: 7rem;
        &::before{
            content: "";
            @include absoluteCenter("top");
            @include size(6rem, 4px);
            @include bg($primary-color);
            left: 0;

        }
    }
    @include maxwidth(767px){
        &-arrow{
            display: none;
        }
        &-content{
            padding: 0;
            flex-direction: column;
        }
        &-icon{
            @include size(10rem);
            img{
                max-width: 50%;
            }
        }
        &-info{
            padding-left: 0;
            margin-top: 3rem;
        }
    }
}
.slick-initialized .slick-slide{
    display: flex;
}
.slick-arrow{
    color: $darkgray-color;
        cursor: pointer;
        font-size: 2rem;
        padding: 1rem 2rem;
        background-color: transparent;
        border: 0;
        font: optional;
        font-size: 4rem;
    @include absoluteCenter("top");
    z-index: 10;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}

