html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 1.4rem; }

input, button {
  outline: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1; }

button {
  cursor: pointer; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .block-box-caption {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-family: "Kaushan Script", cursive; }
  .block-box-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem; }
    .block-box-heading::after {
      content: "";
      width: 6.5rem;
      height: 4px;
      background-color: #e98283;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0; }
  .block-box-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999999;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 10rem; }

.header {
  min-height: 100rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(237, 215, 136, 0.8))), url("../../images/img-header-bg.jpg");
  background-image: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(237, 215, 136, 0.8)), url("../../images/img-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white; }
  .header-logo {
    font-size: 3rem;
    font-weight: bold;
    color: white; }
  .header-menu-link {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-menu-link:hover {
    color: #edd788;
    border-bottom-color: #edd788; }
  .header-menu-icon {
    color: white; }
  .header-top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .header-menu-item:not(:first-child) {
    margin-left: 5rem; }
  .header-content {
    text-align: center;
    padding-top: 17rem; }
    .header-content-caption {
      font-size: 7.2rem;
      font-family: "Kaushan Script", cursive;
      margin-bottom: 3rem; }
    .header-content-main {
      font-size: 15rem;
      font-weight: bold;
      text-transform: uppercase;
      max-width: 100rem;
      margin: 0 auto;
      padding-bottom: 5rem;
      margin-bottom: 5rem;
      position: relative; }
      .header-content-main:after {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0;
        width: 6rem;
        height: 0.5rem;
        background-color: white; }
    .header-content-more {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 1rem 3rem;
      border: 4px solid white;
      display: inline-block; }
  .header-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .header-bottom-item {
      width: calc(25% - 3rem);
      padding-top: 2.5rem;
      border-top: 5px solid white;
      margin-left: 3rem;
      opacity: 0.6;
      position: relative; }
    .header-bottom-item:before {
      content: "";
      width: 7rem;
      height: 5px;
      background-color: #e98283;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .header-bottom-item:hover, .header-bottom-item.is-active {
      cursor: pointer;
      opacity: 1; }
      .header-bottom-item:hover:before, .header-bottom-item.is-active:before {
        opacity: 1; }
    .header-bottom-number {
      font-weight: bold;
      font-size: 2.4rem;
      margin-right: 1rem; }
    .header-bottom-text {
      text-transform: uppercase;
      font-size: 1.8rem; }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset; }
      .header .header-bottom {
        margin-top: 10.5rem; }
      .header .header-content {
        padding-top: 10rem; }
      .header .header-content-main {
        font-size: 10rem; } }
  @media screen and (max-width: 767px) {
    .header .header-bottom-text {
      display: none; }
    .header .header-content-caption {
      font-size: 3.2rem;
      margin-bottom: 2rem; }
    .header .header-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .header .header-content {
      padding-top: 5rem; }
    .header .header-bottom-item:before {
      width: 35%; }
    .header .header-bottom-item {
      text-align: center;
      padding-top: 1.5rem;
      margin-left: 0; }
    .header .header-bottom {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 5.5rem; }
    .header .header-bottom-number {
      margin-right: auto; }
    .header .header-menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: fixed;
      z-index: 10;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 70%;
      padding: 5%;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s ease-in;
      transition: -webkit-transform 0.25s ease-in;
      transition: transform 0.25s ease-in;
      transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in; }
      .header .header-menu.is-expand {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
    .header .header-menu-icon {
      display: inline-block;
      color: #333333;
      padding: 3%; }
      .header .header-menu-icon:hover {
        color: #edd788; }
    .header .header-menu-link {
      padding-bottom: 0;
      border-bottom: none;
      display: inline-block;
      color: #333333;
      width: 100%;
      padding: 3%; }
      .header .header-menu-link:hover {
        border-radius: 5%;
        color: white;
        background-color: #edd788; }
    .header .header-menu-item {
      margin-left: 0; }
    .header .header-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white; }
  .about-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .about-item {
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
    .about-item:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3;
      z-index: -1;
      -webkit-transition: -webkit-transform 0.25s linear;
      transition: -webkit-transform 0.25s linear;
      transition: transform 0.25s linear;
      transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
    .about-item:hover {
      -webkit-transform: translate(-1rem, -1rem);
      transform: translate(-1rem, -1rem); }
      .about-item:hover .about-content {
        opacity: 1;
        visibility: visible; }
      .about-item:hover::after {
        -webkit-transform: translate(1rem, 1rem);
        transform: translate(1rem, 1rem); }
  .about-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(237, 215, 136, 0.8)));
    background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(237, 215, 136, 0.8));
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem; }
  .about-icon {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .about-title {
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all; }
  @media screen and (max-width: 767px) {
    .about-list {
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      grid-row-gap: 2.5rem;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      overflow-x: auto;
      -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
      scroll-snap-stop: always;
      -ms-overflow-style: none;
      scrollbar-width: none; }
      .about-list::-webkit-scrollbar {
        display: none; }
    .about-item {
      scroll-snap-align: start; } }

.number {
  background-color: #95e1d3; }
  .number-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .number-item {
    padding: 8.5rem 3.5rem;
    color: white;
    border-left: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    width: 20%; }
    .number-item:last-child {
      border-right: 1px solid white; }
    .number-item-count {
      font-size: 7.2rem;
      font-weight: bold;
      margin-bottom: 2rem; }
  @media screen and (max-width: 767px) {
    .number-list {
      display: block; }
    .number-item {
      width: 100%;
      border-left: none;
      padding: 2.5rem 2rem; }
      .number-item:last-child {
        border-right: none; }
      .number-item:not(:last-child) {
        border-bottom: 1px solid white; } }

.service {
  padding: 11rem 0 12rem;
  background-color: white; }
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 6.5rem; }
  .service-list:first-of-type {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 6rem;
    padding-bottom: 5rem; }
  .service-item {
    width: calc(33.33% - 2.7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .service-item-icon {
      width: 3.4rem;
      margin: 0 3rem; }
    .service-item-title {
      color: #333333;
      margin-bottom: 1.6rem;
      text-transform: uppercase; }
    .service-item-desc {
      color: #999999;
      line-height: 1.6;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      text-align: justify; }
    .service-item-info {
      width: calc(100% - 9.5rem); }
  @media screen and (max-width: 1023px) {
    .service-list {
      display: block; }
    .service-item {
      width: 100%; }
      .service-item:not(:last-child) {
        margin-bottom: 2rem; }
      .service-item-info {
        padding-right: 3rem; } }

.device {
  padding-top: 11rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.6))), url("../images/img-device-bg.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)), url("../images/img-device-bg.png") no-repeat center/cover; }
  .device-image {
    position: relative;
    margin: 0 auto -9.3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block; }
  @media screen and (max-width: 767px) {
    .device-image {
      width: 80%;
      margin-bottom: -4.5rem; } }

.wedo {
  padding-top: 10rem; }
  .wedo-image {
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-item.is-active .wedo-item-content {
    display: block; }
  .wedo-item:not(:last-child) {
    padding-bottom: 1rem; }
  .wedo-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 1.5rem;
    border: 1px solid #cccccc;
    cursor: pointer; }
  .wedo-item-icon {
    margin-right: 1.5rem; }
  .wedo-item-title {
    text-transform: uppercase;
    font-weight: 500; }
  .wedo-item-arrow {
    margin-left: auto;
    color: #cccccc;
    font-size: 3rem; }
  .wedo-item-content {
    display: none;
    padding: 2rem;
    border: 1px solid #f5f5f5;
    border-top: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    line-height: 1.6;
    color: #999999;
    font-weight: 300; }
  .wedo-item-text {
    height: 13rem;
    overflow-y: auto;
    padding-right: 2rem; }
    .wedo-item-text::-webkit-scrollbar {
      width: 0.6rem; }
    .wedo-item-text::-webkit-scrollbar-track {
      background-color: #f5f5f5;
      border-radius: 2rem; }
    .wedo-item-text::-webkit-scrollbar-thumb {
      background-color: #95e1d3;
      border-radius: 2rem; }
  @media screen and (min-width: 767px) {
    .wedo-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .wedo-content, .wedo-image {
      width: calc(50% - 1.5rem); } }
  @media screen and (max-width: 767px) {
    .wedo-item:first-child {
      padding-top: 1rem; } }

.quote {
  padding: 6.5rem 0;
  background-color: #f8f8f8; }
  .quote-arrow {
    color: #cccccc;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem; }
  .quote-content {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    outline: none; }
  .quote-icon {
    width: 15rem;
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border: 3px solid #95e1d3;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .quote-info {
    padding-left: 6rem; }
  .quote-desc {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2.5rem;
    font-style: italic;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all; }
  .quote-author {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    position: relative;
    padding-left: 7rem; }
    .quote-author::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 6rem;
      height: 4px;
      background-color: #e98283;
      left: 0; }
  @media screen and (max-width: 767px) {
    .quote-arrow {
      display: none; }
    .quote-content {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .quote-icon {
      width: 10rem;
      height: 10rem; }
      .quote-icon img {
        max-width: 50%; }
    .quote-info {
      padding-left: 0;
      margin-top: 3rem; } }

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slick-arrow {
  color: #cccccc;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0;
  font: optional;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.team {
  background-color: #fff;
  padding: 10rem 0; }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .team-item {
    width: calc(33.33% - 20px); }
  .team-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .team-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .team-social-item:not(:first-child) {
      border-left: 1px solid #e98283; }
    .team-social-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 6rem;
      height: 6rem;
      background-color: #edd788;
      color: #e98283;
      font-size: 2rem;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      .team-social-link:hover {
        color: white;
        background-color: #e98283; }
  .team-info {
    margin-top: 3rem;
    text-align: center; }
  .team-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 700; }
  .team-position {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic; }
  @media screen and (max-width: 1023px) {
    .team-list {
      padding: 1rem;
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      grid-column-gap: 2.5rem;
      display: -ms-grid !important;
      display: grid !important;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
      grid-auto-columns: 70%;
      grid-auto-flow: column;
      overflow-x: auto;
      -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
      scroll-snap-stop: always;
      -ms-overflow-style: none;
      scrollbar-width: none; }
      .team-list::-webkit-scrollbar {
        display: none; }
      .team-list > * {
        scroll-snap-align: start;
        width: auto; } }

.team-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(237, 215, 136, 0.8)));
  background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(237, 215, 136, 0.8));
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.team-main {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  .team-main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  .team-main:hover {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
    .team-main:hover .team-content {
      opacity: 1;
      visibility: visible; }
    .team-main:hover::after {
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }

.brand {
  padding: 8rem 0;
  background-color: #f8f8f8; }

.work {
  padding-top: 10rem; }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 60rem; }
  .work-column {
    width: 25%; }
  .work-content {
    color: white;
    text-align: center; }
  .work-icon {
    font-size: 3rem;
    margin-bottom: 1.5rem; }
  .work-title {
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .work-desc {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.5rem; }
  .work-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .work-item {
    height: 50%; }
  .work-item--full {
    height: 100%; }
  @media screen and (max-width: 1279px) {
    .work-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden;
      height: auto; }
    .work-item {
      height: 42rem; }
    .work-column {
      width: 50%; }
    .work-item--full {
      height: 84rem; } }
  @media screen and (max-width: 767px) {
    .work-item {
      height: 20rem; }
    .work-column {
      width: 50%; }
    .work-item--full {
      height: 40rem; } }

.work-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 131, 0.8)), to(rgba(237, 215, 136, 0.8)));
  background: linear-gradient(to bottom, rgba(233, 130, 131, 0.8), rgba(237, 215, 136, 0.8));
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.work-item {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  .work-item:hover .work-content {
    opacity: 1;
    visibility: visible; }

.people {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/img-people-bg.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/img-people-bg.png") no-repeat center/cover; }
  .people-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4rem;
    margin-top: 9rem; }
  .people-item {
    width: calc(50% - 4rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 7rem; }
  .people-avt {
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 100rem;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .people-info {
    padding-left: 3rem; }
  .people-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500; }
  .people-job {
    display: inline-block;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-style: italic;
    color: #999999;
    position: relative; }
    .people-job::after {
      content: "";
      background-color: #e98283;
      width: 7rem;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0; }
  .people-desc {
    font-style: normal;
    line-height: 1.5; }
  @media screen and (max-width: 1023px) {
    .people {
      padding: 5rem 0 1rem; }
      .people-item {
        width: 100%;
        margin-bottom: 4rem; } }
  @media screen and (max-width: 767px) {
    .people-list {
      padding: 0;
      margin-top: 6rem; }
    .people-avt {
      width: 8rem;
      height: 8rem; } }

.story {
  padding-top: 10rem;
  background-color: white; }
  .story-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .story-item {
    width: calc(33.33% - 2rem); }
  .story-image {
    width: 100%;
    height: 24rem;
    -o-object-fit: cover;
    object-fit: cover; }
  .story-media {
    position: relative;
    margin-bottom: 2rem; }
  .story-date {
    background-color: #95e1d3;
    padding: 1.5rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: white;
    position: absolute;
    z-index: 2;
    left: -1rem;
    bottom: 1rem; }
    .story-date-number {
      font-weight: bold;
      font-size: 3rem; }
    .story-date-text {
      color: white; }
  .story-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.4; }
  .story-desc {
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2rem; }
  .story-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .story-meta-item {
      margin-right: 2rem; }
    .story-meta-icon {
      color: #95e1d3;
      margin-right: 5px; }
  @media screen and (max-width: 767px) {
    .story-list {
      display: block; }
    .story-item {
      width: 100%;
      margin-bottom: 5rem; } }

.map {
  margin-top: 10rem;
  padding: 5.5rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/img-map.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/img-map.png") no-repeat center/cover; }
  .map-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .map-heading {
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    color: #e98283;
    padding-bottom: 2rem;
    text-transform: uppercase;
    margin-top: 1.5rem; }
    .map-heading::after {
      content: "";
      position: absolute;
      width: 7rem;
      height: 4px;
      background-color: #e98283;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0; }

.footer-top {
  padding: 7.5rem 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.footer-column {
  width: calc(25% - 25px); }
  .footer-column:first-child {
    width: calc(40% - 25px); }
  .footer-column:nth-child(2) {
    width: calc(35% - 25px); }

.footer-heading {
  display: inline-block;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  height: 4rem; }
  .footer-heading--logo {
    text-transform: none;
    font-size: 4.6rem;
    font-weight: bold;
    color: #999999; }

.footer-desc {
  font-style: normal;
  margin-bottom: 4.5rem;
  margin-top: 2rem; }

.footer-follower {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #cccccc; }
  .footer-follower strong {
    font-weight: bold;
    font-size: 1.8rem; }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 3.5rem; }

.footer-social-icon {
  color: #95e1d3;
  margin-left: 1.5rem;
  font-size: 2rem; }

.footer-form {
  width: 100%;
  max-width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.footer-form-input {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #cccccc;
  border-right: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic; }

.footer-form-button {
  color: white;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  font-weight: bold;
  border: 0;
  background-color: #95e1d3; }

.footer-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 3rem; }
  .footer-blog-image {
    width: 12rem;
    height: 8rem;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .footer-blog-info {
    padding-left: 2rem; }
  .footer-blog-title {
    color: #999999;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.4; }
  .footer-blog-date {
    color: #cccccc;
    font-style: italic; }

.footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2px; }

.footer-image {
  width: calc(33.33% - 2px);
  margin-left: 2px;
  margin-bottom: 2px;
  padding-bottom: 33.33%;
  height: 0;
  position: relative; }
  .footer-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; }

.footer-bottom {
  padding: 2.5rem 0;
  text-align: center;
  border-top: 1px solid #cccccc; }
  .footer-bottom span {
    color: #e98283; }

@media screen and (max-width: 1023px) {
  .footer-top {
    display: block;
    padding-bottom: 3rem; }
  .footer-column:not(:nth-child(99)) {
    width: 100%;
    margin-bottom: 3rem; }
  .footer-column:last-child {
    margin-bottom: 0; } }
